/* basic reset */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  this allows font-size to consider browser's default
  browsers' default usually equals to 16px
  62.5% of 16px is 10px
  1rem = html font-size = 10px
  1.6rem = 16px
*/
html { font-size: 62.5%; }
body { font-size: 1.6rem; }
<<<<<<< HEAD:styles.css
#flag{
  position: relative;
  top: -135px;
  left: 175px;
  width: 10%;
}
=======

.temp-chooser {
  padding: 10px;
  float: right;
}

>>>>>>> 06ac1c8f0b7dd13ef335b765c178c525de8d698e:css/styles.css
.temperatureCirlce {
  text-align: center;
  align-items: center;
  align-content: center;
}

.centerCirlce {
  margin: auto;
  width: 60%;
}

.center {
  text-align: center;
}

.circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
<<<<<<< HEAD:styles.css
  font-size: 30px;
=======
  font-size: 10rem;
>>>>>>> 06ac1c8f0b7dd13ef335b765c178c525de8d698e:css/styles.css
  color: #fff;
  text-align: center;
  background: #000
}
#wrapper{
  margin:10px;
}

.weatherCity {
  font-size: 4rem;
}

.weatherImage {
  padding-top: 10px;
  max-width: 100%;
  height: auto;
}

#header {
  height: 15vw;
  max-height: 10vh;
}

#main {
  /* fictional height */
  height: 80vh;
}

#footer {
  height: 15vw;
  max-height: 10vh;
}

#header { background-color: pink; }
#main { background-color: lightgreen; }
#footer  { background-color: lightblue; }
